<h1>Payment Calculator Input</h1>

<form action="/payment/results">
  <div>
    <label for ="user_apr">APR</label>
    <input id="user_apr" type="text" 
      placeholder="E.g. 5.42"
      name ="user_apr">
  </div>
  
  <div>
    <label for ="user_yrs">Number of years</label>
    <input id="user_yrs" type="text" 
      placeholder="How many years to repay?"
      name ="user_yrs">
  </div>

  <div>
    <label for ="user_principal">Principal</label>
    <input id="user_principal" type="text" 
      placeholder="How much principal?"
      name ="user_principal">
  </div>

  <button>Calculate monthly payment</button>
</form>