<h1>Square Input</h1>

<form action="/square/results">
  <label for ="butt">Enter a number</label>
  <input id="butt" type="text" 
    placeholder="What number do you want to square?"
    name ="monkey">

  <button>Calculate square </button>
</form>