<h1>Howdy</h1>

<form>
  <label for ="butt">Enter a number</label>
  <input id="butt" type="text" 
    placeholder="What number do you want to square?"
    name ="monkey">

  <button>Calculate square </button>
</form>